#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin-top: 20vh; 
}

h1 {
  font-size: 2rem;
}

h2 {
 color:#ddd
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px; /* Adiciona arredondamento às bordas */
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  /* Estilos para telas menores */
   h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Cor de fundo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Certifique-se de que o indicador de carga esteja na frente de outros elementos */
}